@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");

html, body, div, span, h1, h2, a, article, footer, header, nav, section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	line-height: 1.65;
	box-sizing: border-box;
}

body{
	min-width: 320px;
	background: #1b1f22;
	color: #fff;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	font-size: 1rem;
	display: block;
}

a{
	transition: 0.2s;
	border-bottom: dotted 1px rgba(255, 255, 255, 0.5);
	text-decoration: none;
	color: inherit;
}

a:hover{
	border-bottom-color: transparent;
}

h1, h2{
	font-weight: 600;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	margin: 0 0 1rem 0;
}

h1{
	font-size: 2rem;
}

h2{
	font-size: 1.5rem;
}

/* Image */

.image.fit img{
	display: border-box;
	margin: 2rem 2rem 2rem 0;
	border-radius: 100%;
	width: 100%;
	max-width: 300px;
}

/* Header */

#header{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 100%;
	background-image: linear-gradient(rgba(187, 38, 73, 0.3) 25%, rgba(0,0,0,0) 55%);
	transition: 0.325s;
}

#header > * {
	transition: opacity 0.325s ease-in-out;
	position: relative;
	margin-top: 4rem;
}

#header > *:before{
	content: '';
	display: block;
	position: absolute;
	top: calc(-4rem);
	left: calc(50% - 0.5px);
	width: 0.5px;
	height: calc(3rem);
	background: #fff;
}

#header .content p{
	text-transform: uppercase;
	letter-spacing: 0.125rem;
	font-size: 1.125rem;
	line-height: 1.5;
}

#header .logo .icon:before{
	font-size: 4rem;
	line-height: 6rem;
}

#header nav ul{
	display: flex;
	list-style: none;
	border: solid 1px #fff;
	border-radius: 4px;
	margin-bottom: 0;
	padding-left: 0;
}

#header nav ul li{
	padding-left: 0;
	border-left: solid 1px #fff;
}

#header nav ul li:first-child{
	border-left: 0;
}

#header nav ul li a{
	display: block;
	min-width: 8.5rem;
	height: 2.75rem;
	line-height: 2.75rem;
	padding: 0 1.25rem 0 1.45rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 0.8rem;
	border-bottom: 0;
}

#header nav ul li a:hover{
	background-color: rgba(255,255,255,0.075);
}

#header nav ul li a:active{
	background-color: rgba(255,255,255,0.075);
}
		
@media screen and (max-width: 480px){
	#header nav ul{
		flex-direction: column;
		min-width: 10rem;
		max-width: 100%;
		}

	#header nav ul li {
		border-left: 0;
		border-top: solid 1px #ffffff;
		}
}
			
/* Main */

#main{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

#main article {
	transform: translateY(0.25rem);
	transition: opacity 0.325s ease-in-out, transform 0.325s ease-in-out;
	padding: 4.5rem;
	position: relative;
	width: 100%;
	border-radius: 4px;
	opacity: 0;
}

#main article.active {
	transform: translateY(0);
	opacity: 1;
}

#main article .close {
	display: block;
	position: absolute;
	top: 2rem;
	right: 2rem;
	width: 4rem;
	height: 4rem;
	cursor: pointer;
	text-indent: 4rem;
	overflow: hidden;
	white-space: nowrap;
}

#main article .close:before {
	transition: background-color 0.2s ease-in-out;
	content: '';
	display: block;
	position: absolute;
	top: 0.75rem;
	left: 0.75rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100%;
	background-position: center;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20px' height='20px' viewBox='0 0 20 20' zoomAndPan='disable'%3E%3Cstyle%3Eline %7B stroke: %23ffffff%3B stroke-width: 1%3B %7D%3C/style%3E%3Cline x1='2' y1='2' x2='18' y2='18' /%3E%3Cline x1='18' y1='2' x2='2' y2='18' /%3E%3C/svg%3E");
	background-repeat: no-repeat;
}

#main article .close:hover:before {
	background-color: rgba(255, 255, 255, 0.075);
}

#main article .close:active:before {
	background-color: rgba(255, 255, 255, 0.175);
}

/* Footer */
		
#footer {
	width: 100%;
	max-width: 100%;
	margin-top: 2rem;
	text-align: center;
	letter-spacing: 0.2rem;
	font-size: 0.75rem;
	opacity: 0.75;
	margin-bottom: 0;
	text-transform: uppercase;
}

/* Social Media */

.social-links {
	display: border-box;
}

.social-links a {
	font-size: 2.5rem;
	text-align: center;	
	text-decoration: none;
	margin: 20px 20px;
	border: none;
}

.social-links a:hover{
	color: rgba(187, 38, 73);
}

.special-links a {
	display: flex;
	flex-direction: column;
	width: 50px;
	height: 50px;
	font-size: 25px;
	color: #fff;
	text-align: center;	
	text-decoration: none;
	box-shadow: 1px 3px 1px 1px rgba(187, 38, 73);
	margin: 30px 30px;
	border-radius: 100%;
	overflow: hidden;
	transition: transform 0.5s;
	border-bottom: none;
	padding: 10px;
}

.special-links a:hover {
	transform: translateY(-10px);
}

p {
	max-width: 80%;
        margin: 0 auto 10px;
	text-align: center;
}

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 0px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 80%; height: 80%; }
